.breadcrumb{
    background: unset;
    padding: unset;
    margin-top: 30px;
    li{
        a{
            font-size: 14px;
            font-weight: 400;
            color:$blue-dark;
        }
    }
}