$white:#fff;
$brown:#423426;
$red:#ed2024;
$black:#000;
$black-color-1:#333;
$gray:#ccc;
$gray-color-1:#999;
$gray-color-2:#666;
$blue-dark:#0a1e3c;
$blue-light:#0082dc;
$blue-color-1:#26348b;
$green:#009600;
